<link rel="stylesheet" href="/css/icons.min.css">

<div id="wrapper" class="is-verticle">
    <header uk-sticky>
        <div class="header_inner">

            <div class="right-side">

                <!-- Header search box  -->
                <div class="header_search"><i class="fa-solid fa-magnifying-glass"></i>
                    <input value="" type="text" class="form-control" placeholder=" Tìm kiếm khóa học, bài viết.."
                        autocomplete="off">
                    <div uk-drop="mode: click;offset:10" class="header_search_dropdown">

                        <h4 class="search_title"> Recently </h4>
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="images/avatars/avatar-1.jpg" alt="" class="list-avatar">
                                    <div class="list-name"> Erica Jones </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/avatars/avatar-2.jpg" alt="" class="list-avatar">
                                    <div class="list-name"> Coffee Addicts </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/avatars/avatar-3.jpg" alt="" class="list-avatar">
                                    <div class="list-name"> Mountain Riders </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/avatars/avatar-4.jpg" alt="" class="list-avatar">
                                    <div class="list-name"> Property Rent And Sale </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/avatars/avatar-5.jpg" alt="" class="list-avatar">
                                    <div class="list-name"> Erica Jones </div>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
                

                <div class="avatar">
                    
                    <button type="button" class="sig-up btn btn-primary btn-sm" style="width: 140px; margin-right:10px">Đăng nhập</button>
                    <button class="sign-in" type="button" class="btn btn-secondary btn-sm">Đăng ký</button>


                </div>
              <div class="body-login">
                  <div class="container-login" id="container-login">
                    <a class="close" href="#">X</a>
                    <div class="form-container sign-up">
                        <form id="formSigup">
                            <h1>Create Account</h1>
                            <div class="social-icons">
                                <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                                <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                                <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                            </div>
                            <span>or use your email for registeration</span>
                           <input type="text" name="name" id="nameUser" placeholder="Tên">
                            <input type="email" name="email" id="emailUser" placeholder="Email">
                            <input type="password" name="password" id="passwordUser" placeholder="Mật khẩu">
                            <input type="cf-password" name="cf-password" id="cf-password"
                                placeholder="nhập lại mật khẩu">
                            <button id="sigUp">Sign Up</button>
                        </form>
                    </div>
                    <div class="form-container sign-in">
                        <form id="formSigin">
                            <h1>Sign In</h1>
                            <div class="social-icons">
                                <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                                <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                                <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                            </div>
                            <span>or use your email password</span>
                            <input type="email" id="emailLogin" placeholder="Email">
                            <input type="password" id="passwordLogin" placeholder="Password">
                           <p id="err"></p>
                            <a href="#">Forget Your Password?</a>
                            <button>Sign In</button>
                        </form>
                    </div>
                    <div class="toggle-container">
                        <div class="toggle">
                            <div class="toggle-panel toggle-left">
                                <h1>Welcome Back!</h1>
                                <p>Enter your personal details to use all of site features</p>
                                <button class="" id="login">Sign In</button>
                            </div>
                            <div class="toggle-panel toggle-right">
                                <h1>Hello, Friend!</h1>
                                <p>Register with your personal details to use all of site features</p>
                                <button class="" id="register">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>

    </header>
</div>

<script src="/js/deitel.js"></script>

