<div class="sidebar">
    <div class="sidebar_inner" data-simplebar>

        <ul class="side-colored">
            <li><a href="/">
                    <i class="fa-solid fa-house" style="color: #c94141;"></i>
                    <span> Trang chủ</span>
                </a>
            </li>
            <li><a href="/courses">
                    <i class="fa-solid fa-book" style="color: #2f04ff;"></i>
                    <span> khóa học</span>
                </a>
            </li>
            <li><a href="categories.html">
                    <i class="fa-solid fa-road" style="color: #45b40c; "></i>
                    <span> Lộ trình </span>
                </a>
            </li>
            <li><a href="/post">
                    <i class="fa-solid fa-newspaper" style="color: rgb(130, 130, 23);"></i>
                    <span> Bài viết </span>
                </a>
            </li>

        </ul>

        <ul class="side_links" data-sub-title="Pages">
            <li><a href="page-pricing.html"> <ion-icon name="card-outline" class="side-icon"></ion-icon> Pricing </a>
            </li>

            <li><a href="page-setting.html"> <ion-icon name="settings-outline" class="side-icon"></ion-icon> Setting
                </a></li>

        </ul>



    </div>

    <div class="side_overly" uk-toggle="target: #wrapper ; cls: is-collapse is-active"></div>
</div>