 <!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">

<head>

    <meta charset="utf-8" />
    <title>Products | Velzon - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- nouisliderribute css -->


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-/4as7r0kgOj+NmW7n+tdG3EZMApsI4Wl5YN6ksIMhz3npHVLv2CSgCdcKJ8lDYrWlT4UC5dyGqR8OhWEqEik2w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap Css -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="/css/custom.min.css" rel="stylesheet" type="text/css" />


</head>

<body>
 {{{body}}}

     <script src="/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
   

   

    <!-- App js -->
    <script src="/js/app.js"></script>
    
</body>

<style>
    .gridjs-tr {
          align-items: center;
  background-color: #f7f7f734;
  border: 1px solid #e0e0e054;
  border-radius: 10px;

  margin: 15px;
  font-family: Arial, sans-serif;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;

    }

    tr{
        padding-top: 12px;
    }
</style>
 </html>